
@charset "utf-8";

/*
	for print ----------------------------------------------------------------------------------------------------------------------------
*/




/* IE6 */
* html * {
zoom:0.9999;
}
* html body {
/* A4で刷れるサイズ（650px以下）になるようにzoomで比率を指定する */
zoom:1;/* このテンプレートは横幅614pxなので等倍に指定 */
background:none;
}

/* IE7 */
*:first-child+html * {
zoom:0.9999;
}



/*プリント時非表示*/







































}